{% extends "base.html" %}

{% block content %}

    {% include 'parts/filter_block.html' %}

    <div class="card" style="width: 100%;">
        <div class="card-header" data-question-id="{{ question.id }}">
            <h1 style="width: auto">{{ question.title }}</h1> ushbu so'zning yozilishini kiriting
        </div>
        <form class="input-group input-group-lg" method="post">
            <span class="input-group-text" id="inputGroup-sizing-lg">EN</span>
            <input type="text" class="form-control" aria-label="Sizing example input" autofocus
                    {% if is_correct is not none and is_correct %}
                   value="{{ word }}"
                   style="background-color: #78ff73"
                    {% elif is_correct is not none and not is_correct %}
                   style="background-color: #ff5e67"#}
                   value="{{ word }}"
                    {% endif %}
                   name="word" id="word" aria-describedby="inputGroup-sizing-lg">
            <input type="hidden" name="question_id" value="{{ question.id }}">
            <button class="btn btn-outline-primary" type="submit">check</button>
        </form>
    </div>

    <a href="{{ url_for('word.check_writing_word') }}?{{ request.query_string.decode() }}"
       class="btn btn-outline-info mt-5" style="width: 100%;">
        <svg fill="#000000" height="24px" width="24px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 0 489.645 489.645" xml:space="preserve">
        <g>
            <path d="M460.656,132.911c-58.7-122.1-212.2-166.5-331.8-104.1c-9.4,5.2-13.5,16.6-8.3,27c5.2,9.4,16.6,13.5,27,8.3
                c99.9-52,227.4-14.9,276.7,86.3c65.4,134.3-19,236.7-87.4,274.6c-93.1,51.7-211.2,17.4-267.6-70.7l69.3,14.5
                c10.4,2.1,21.8-4.2,23.9-15.6c2.1-10.4-4.2-21.8-15.6-23.9l-122.8-25c-20.6-2-25,16.6-23.9,22.9l15.6,123.8
                c1,10.4,9.4,17.7,19.8,17.7c12.8,0,20.8-12.5,19.8-23.9l-6-50.5c57.4,70.8,170.3,131.2,307.4,68.2
                C414.856,432.511,548.256,314.811,460.656,132.911z"/>
        </g>
        </svg>
    </a>


    <script>

        document.addEventListener("keydown", keyDownTextField, false);
        let word = document.getElementById('word')

        var query = window.location.search.substring(1);

        function keyDownTextField(e) {
            var keyCode = e.keyCode;
            if (keyCode == 91) {
                window.location.href = `{{ url_for('word.check_writing_word') }}?${query}`
                {#window.location.reload()#}
            }
        }

    </script>
{% endblock content %}