{% extends "base.html" %}

{% block content %}

    <form class="row mb-3">
        <div class="col-5">
            <label for="start">From</label>
            <input type="date" class="form-control" id="start">
        </div>
        <div class="col-5">
            <label for="stop">To</label>
            <input type="date" class="form-control" id="stop">
        </div>

        <button type="submit" class="col-2 mt-4 btn btn-primary">Filter</button>
    </form>

    <div class="card" style="width: 100%;">
        <div class="card-header" data-question-id="{{ question.id }}">
            <h1 style="width: auto">{{ question.title }}</h1> ushbu so'zning juftini toping
        </div>

        <ul class="list-group list-group-flush">
            {% for answer in answers %}
                <li class="list-group-item" aria-current="true" onclick="select_li(this)">
                    <h2 id="{{ answer.id }}">
                        {{ answer.title_en }}{{ answer.title_ru }}{{ answer.title_uz }}</h2>
                </li>
            {% endfor %}

        </ul>
    </div>

    <a href="{{ url_for('word.main') }}" class="btn btn-outline-info mt-5" style="width: 100%;">
        <svg fill="#000000" height="24px" width="24px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 0 489.645 489.645" xml:space="preserve">
        <g>
            <path d="M460.656,132.911c-58.7-122.1-212.2-166.5-331.8-104.1c-9.4,5.2-13.5,16.6-8.3,27c5.2,9.4,16.6,13.5,27,8.3
                c99.9-52,227.4-14.9,276.7,86.3c65.4,134.3-19,236.7-87.4,274.6c-93.1,51.7-211.2,17.4-267.6-70.7l69.3,14.5
                c10.4,2.1,21.8-4.2,23.9-15.6c2.1-10.4-4.2-21.8-15.6-23.9l-122.8-25c-20.6-2-25,16.6-23.9,22.9l15.6,123.8
                c1,10.4,9.4,17.7,19.8,17.7c12.8,0,20.8-12.5,19.8-23.9l-6-50.5c57.4,70.8,170.3,131.2,307.4,68.2
                C414.856,432.511,548.256,314.811,460.656,132.911z"/>
        </g>
        </svg>
    </a>


    <script>

        function select_li(elem) {
            let answerInput = elem.firstElementChild
            answerInput.checked = true

            let questionId = "{{ question.id }}"
            let answerId = answerInput.getAttribute("id")

            if (questionId === answerId) {
                elem.style.backgroundColor = "#58e370"
            } else {
                elem.style.backgroundColor = "#e35865"
            }
            console.log(questionId, answerId)
        }

    </script>
{% endblock content %}